body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  background-color: rgb(90, 129, 255);
}

form {
  border: 2px solid rgb(2, 45, 126);
  border-radius: 10px;
  color: white;
  background-color: rgb(2, 45, 126);
  padding: 25px;
  width: 400px;
}

h1 {
  margin-bottom: 15px;
  margin: 0;
  margin-bottom: 10px;
}

label {
  font-size: 15px;
}

input {
  margin-top: 5px;
  width: 90%;
  height: 15px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 8px;
  text-indent: 10px;
  color: black;
  margin-bottom: 10px;
  background:lightgrey;
}

input::placeholder {
  color: black;
}

a {
  color: white;
}

#submit_button {
  margin-top: 10px;
  border: none;
  width: 100px;
  background-color: #9395ee;
  color: white;
}